Q no 1 Create variables to store your name, age, and city, then print them in one line.

In [4]:
var = {
    "name": "Muhammad Ashfaq",
    "age": 18,
    "city": "Peshawar"
}
print(var)

{'name': 'Muhammad Ashfaq', 'age': 18, 'city': 'Peshawar'}

Q no 2 : Assign values 10, 20.5, and "Python" to variables and print their types using type().

In [5]:
a = 10
b = 20.5
c = "vishu"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Q no 3 Swap two variables and print the result.

In [7]:
a = 10
b = 20

# swapping

a, b  = b, a

print("a", a)
print("b", b)

a 20
b 10

  Q no 4: Assign the same value to three variables and print them.

In [10]:
val = 20

a = val 
b = val 
c = val
print(a, b , c)

20 20 20

 Q no 5 : Assign multiple values in one line (unpacking).

In [11]:
a , b , c = 10, 12.5, "vishu"

print(a)
print(b)
print(c)

10
12.5
vishu

 Q no 6 : Store marks of 5 subjects and calculate the total and average.

In [20]:
bio = 51
computer = 96
maths = 91
urdu = 61
physics = 81

total = bio + computer + maths + urdu + physics
print(total)
print(total / 5)

380
76.0

Q NO : 7 Check the type of "123" and 123.

In [21]:
a = 123
b = "123"

print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

 q no : 8 Convert a float number to integer and print both values.

In [23]:
 a = 12.5
 print(type(int(a)))
 print(type((a)))

<class 'int'>
<class 'float'>

Q no 9 : Create a list of your 3 favorite colors and print it.

In [24]:
a = ["black", "blue", "purple"]
print(a)

['black', 'blue', 'purple']

q no 10 Assign None to a variable and print its type.

In [26]:
 var = None
 print(type(var))

<class 'NoneType'>

Q no 11 Take your name as input and print Hello, name.

In [ ]:
name =  input("Enter your name")
print(name)